<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, omnis! Beatae dolor alias et praesentium eius vitae dolorem. Exercitationem, quos?</p>
    </div>
</section>