<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Prectica de NODE y MongoDB</p>
    <hr class="my-4">
    <p>Contacto: lduarte@dmtradingve.com</p>
    <a href="https://www.dmtradingve.com" class="btn btn-primary">DmtradingVE</a>
</div>
